In [1]:
import sqlite3
conn=sqlite3.connect('working.db')
c=conn.cursor()

In [2]:
def read_table():
    c.execute('SELECT * FROM stuffToPlot')
    data=c.fetchall()
    print(data)

In [3]:
read_table()

[(123, '2018-02-02', 'Python', 123456), (123, '2018-02-02', 'Python', 123456), (1519599560.2291641, '2018-02-25 16:59:20', 'python', b''), (1519599594.1930957, '2018-02-25 16:59:54', ' python ----------> ------------->', b'')]

In [6]:
def read_table2():
    c.execute('SELECT * FROM stuffToPlot')
    for row in c.fetchall():
        print(row)

In [7]:
read_table2()

(123, '2018-02-02', 'Python', 123456)
(123, '2018-02-02', 'Python', 123456)
(1519599560.2291641, '2018-02-25 16:59:20', 'python', b'')
(1519599594.1930957, '2018-02-25 16:59:54', ' python ----------> ------------->', b'')

In [14]:
def read_table3():
    c.execute(input('type sql command here:\n'))
    for row in c.fetchall():
              print(row)

In [15]:
read_table3()

type sql command here:
select * from StuffToPlot where unix="123"
(123, '2018-02-02', 'Python', 123456)
(123, '2018-02-02', 'Python', 123456)